.home {
  display: flex;
  margin-left: 200px;
}

.personal-introduction {
  color: white;
  font-size: 20px;
  line-height: 1.8;
  padding: 5px;
  flex: 1;
}

.home img {
  width: 500px;
}


.resume {
  font-weight: bold;
}

.personal-introduction a {
  color: black;
}

.personal-introduction a:hover {
  font-style: italic;
}

@media screen and (max-width: 1100px) {
  .home img {
    display: none;
  }
}

.middle-section div .home-title {
  color: white;
}