.study {
  display: flex;
  margin-left: 200px;
}

.study-info {
  color: white;
  font-size: 20px;
  line-height: 1.8;
  padding: 5px;
  flex: 1;
}

.study img {
  width: 600px;
}













@media screen and (max-width: 1100px) {
  .study img {
    display: none;
  }
}